/* ----GCSH */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 90%;
  background-image: url("asssets/2.png");
  background-size: cover;
  background-position: center;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.btn-home {
  bottom: 35px;
  left: 25px;
}
.btn-transactions {
  bottom: 35px;
  right: 90px;
}
.btn-profile {
  bottom: 35px;
  right: 25px;
}
